@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #3F3D56;
  font-family: 'Quantico', sans-serif;
  color: white;
}